*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(85,55,25); /*range of rgb is 0-255 */
    margin: 10px 80px;
    border: 2px solid white;
    border-radius: 10px;
}

button{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: blue;
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

button:active{
    scale: 0.95;
}

/* active woks when element is clicked */

h2{
    color: white;
    margin: 20px 0px 0px 80px;
    font-size: 100px;
    background-color: lightseagreen;
    padding: 10px 50px;
    width: 300px;
    border-radius: 10px;
    

}

main{
    height: 30%;
    width: 50%;
    padding-top: 10px;
}