*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}



#box1{
    height: 200px;
    width: 300px;
    background: linear-gradient(orange 50%,white 30%,green );
}

#outer{
    height: 400px;
    width: 400px;
    background-color: aqua;
}

#inner{
    height: 50%;
    width: 50%;
    background-color: brown;
}

#main{
    height: 100%;
    width: 100%;
    background-color: darkorchid;
    background-image: url(https://images.unsplash.com/photo-1759327718818-0cfee2207279?q=80&w=928&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#box{
    height: 300px;
    width: 300px;
    background-color: indianred;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    color: aliceblue;
    padding-left: 50px;
    padding-top: 70px;
    border: 10px solid black;
    border-radius: 50%;
}

button{
    margin: 50px;
    padding: 10px 20px;
    background-color: rgb(83, 134, 235);
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 50px;
}