*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white; 
    
}



button{
    padding: 10px 20px;
    background-color: lightseagreen;

}

#m1{
    height: 100%;
    width: 100%;
    background-color: rgb(69, 68, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}

#bttn{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    position: relative;
    z-index: 9;
}

#bttn:active{
    scale: 0.95;
}

#m2{
    height: 100%;
    width: 100%;
    background-color: rgb(69, 68, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#bttn2{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    position: relative;
    z-index: 9;
}

#bttn2:active{
    scale: 0.95;
}