*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}



#box1{
    height: 100px;
    width: 200px;
    background-color: crimson;
}

#circle{
    height: 200px;
    width: 200px;
    background-color: green;
    border-radius: 50%;
}