@font-face {
    font-family: nav1;
    src: url(.//headerfont.woff);
}

@font-face {
    font-family: sec2_1;
    src: url(./sec2-1.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    // flex-direction: column;
    

    nav{
        height: 12vh;
        width: 100%;
        background-color: transparent;
        padding: 10px;
        
        position: absolute;
        
        
        button{
            color: white;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            font-family: nav1;
            padding: 10px 15px;
        }
    }

    .section1{
        height: 110vh;
        width: 50vw;
        background-color: black;
        padding: 0 15px;
        margin-top: 12vh;
        

        
    }
    .section1 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .section2{
        height: 110vh;
        width: 50vw;
        background-color: rgb(13, 13, 13);
        margin-top: 12vh;
        margin-right: 15px;
        border-radius: 10px;
        
    }

    .section2 h2{
        color: rgba(255, 255, 255, 0.899);
        font-size: 1em;
        font-weight: 300;
        margin: 4vmax;
        font-family: sec2_1;
    }

    .section2 h1{
        color: rgb(244, 242, 237);
        font-weight: 600;
        font-size: 4em;
        font-family: nav1;
        margin-top: 10vmax;
        margin-left: 4vmax;
    }

    .section2 p{
        color: rgba(244, 242, 237, 0.6);
        font-size: 1.5em;
        margin-top: 1vmax;
        margin-left: 4vmax;
        font-family: nav1;
        font-weight: 300;
    }
}

//  .section1{
//         height: 100vh;
//         width: 50vw;
//         background-color: aqua;
//     }

//     .section1 img{
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//     }