*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body{
    height: 100%;
    width: 100%;
}

 /* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    /* grid-template-columns: 20% 300px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr;  */
     /* fr satnds gor fraction it takes fraction ogf total height or width */

    /* grid-template-columns: 200px minmax(200px,auto) 100px; */
    /* mminmax can take size from min t0o max */

    /* grid-template-columns: repeat(4,1fr); */
    /* it will repeatively create 4 columns of size 1fr */

     /* grid-template-columns: 1fr 1fr 1fr;  */
    /* grid-template-rows: 1fr 1fr 1fr;   */

    /* grid-template-rows: 200px 1fr 1fr; */
    /* grid-template-rows: 70px 1fr 100px;
    grid-gap: 10px; */

    /* align-items: center;
    justify-items: center; */

    /* align-content: space-evenly;
    justify-content: space-evenly; 
}*/

/* .child{
    background-color: crimson;
    border: 3px solid white; 
} */

/* #child1{
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */

    /* grid-row: 1/4;
    grid-column: 1/3; 
} */

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 80px;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: "header header"
                         "aside section"
                         "footer footer";
} */


/* header{
    background-color: rgba(173, 67, 222, 0.395);
    grid-area: header;
} */


/* aside{
    background-color: aqua;
    grid-area: aside;
} */

/* section{
    background-color: rgb(51, 88, 151);
    grid-area: section;
} */

/* footer{
    background-color: rgb(176, 104, 104);
    grid-area: footer;
} */


/* main{
    height: 100%;
    width: 1005;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div3";
}

header{
    background-color: crimson;
    grid-area: header;
}

section{
    background-color: lightblue;
    grid-area: section;
}

#div1{
    background-color: darkolivegreen;
    grid-area: div1;
}

#div2{
    background-color: rgb(66, 184, 43);
    grid-area: div2;
}

#div3{
    background-color: rgb(216, 73, 44);
    grid-area: div3;
} */



/* main{
    height: 100%;
    width: 1005;
    background-color: black;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 30% 1fr;
    grid-gap: 10px;
    padding: 10px;

    grid-template-areas: "header header"
                            "aside section"
                            "figure figure"; 
}

header{
    background-color: chocolate;
     grid-area: header;
}

aside{
    background-color: green;
    grid-area: aside;
}

section{
    background-color: lightblue;
    grid-area: section;
}

figure{
    background-color: rgb(225, 39, 219);
    grid-area: figure;
} */


/* main{
    height: 100%;
    width: 1005;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 0.5fr 0.5fr;
    grid-gap: 10px;
    padding: 10px;

    grid-template-areas: "header header header"
                         "section section section"
                         "div-left bottom-up div-right"
                         "div-left bottom-down div-right";  
}

header{
    background-color: chocolate;
     grid-area: header;
}

section{
    background-color: green;
    grid-area: section;
}

#div-left{
    background-color: lightblue;
    grid-area: div-left;
}

#div-right{
    background-color: rgb(225, 39, 219);
    grid-area: div-right;
}

#bottom-up{
    background-color: burlywood;
    grid-area: bottom-up;
}

#bottom-down{
    background-color: rgb(69, 129, 102);
    grid-area: bottom-down;
} */


main{
    height: 100%;
    width: 1005;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;

    grid-template-areas: "left-top center-top top-right"
                         "left-top center bottom-right"
                         "left-bottom left-bottom bottom-right";  
}

#left-top{
    background-color: chocolate;
     grid-area: left-top;
}

#left-bottom{
    background-color: green;
    grid-area: left-bottom;
}

#center-top{
    background-color: lightblue;
    grid-area: center-top;
}

#center{
    background-color: rgb(225, 39, 219);
    grid-area: center;
}

#top-right{
    background-color: burlywood;
    grid-area: top-right;
}

#bottom-right{
    background-color: rgb(69, 129, 102);
    grid-area: bottom-right;
}