*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.961);
    font-size: clamp(14px, 1vw, 18px);
}

body{
    background-color: black;
}

@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}


@mixin card-box{
    .icon,.bottom{
                background-color: rgba(48, 47, 47, 0.427);
                // color: rgb(40, 39, 39);
                backdrop-filter: blur(5px);
                border: 0.3px solid rgba(255, 255, 255, 0.253);
                border-radius: 0.7rem;
                padding: 0.5rem;
            }



            .icon{
                width: fit-content;
                border-radius: 50%;
                padding: 0.5rem 0.7rem;
            }

            .top{
            display: flex;
            justify-content: flex-end;
             gap: 1rem;
            padding: 1rem;
            }


            .bottom{
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                padding: 1rem 1.5rem;
                font-size: 1.5rem;
                font-weight: 100;
                margin-bottom: 1.5rem;
            }

}

main{
    width: 100%;
    @include flex-column(0);
    align-items: center;

    section.view1{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem 1rem;
        max-width: 1800px;

        .top{
            width: 100%;
            
           

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            width: 100%;
            background-color: rgb(16, 15, 15);
            padding: 3rem;
            @include flex-column(3rem);
            border-radius: 0.7rem;
            justify-content: space-between;
            

            .text{
                @include flex-column(0.7rem);
                h1{
                    font-weight: 200;
                    font-size: 3rem;
                }

                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    line-height: 1.5;
                    opacity: 0.5;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1.5rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }


    section.view2{
        
        @include flex-column(1rem);
        width: 100%;
         padding: 1rem 1rem;
        max-width: 1800px;

        .top,.bottom{
            
            display: flex;
            justify-content: space-between;
            padding: 1rem 4rem;
            gap: 0rem 5rem;
        }

        .element{
            text-align: center;
            @include flex-column(0.3rem);
            

            small{
                opacity: 0.7;
                font-size: 1rem;
                font-weight: 200;
            }


        h2{
            font-size: 3rem;
            font-weight: 400;
            text-align: center;
        }
    }

    }


    section.view3{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem 1rem;
        max-width: 1800px;

        .top{
            width: 100%;
            
            // height: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        .bottom{
            width: 100%;
            background-color: rgb(16, 15, 15);
            padding: 3rem;
            @include flex-column(3rem);
            border-radius: 1rem;
            justify-content: space-between;


            .text{
                @include flex-column(0.7rem);
                // padding: 8rem 1rem;
                
                h1{
                    font-weight: 400;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    margin-top: 6rem;
                }

                p{
                    font-weight: 100;
                    font-size: 1.3rem;
                    line-height: 1.5;
                    opacity: 0.5;
                    // font-family: nav1;
                }
            }

        }

        .bottom>p{
                text-transform: uppercase;
                
            }
    }


    section.view4{
        width: 100%;
        @include flex-column(1rem);
        padding: 0rem 1rem;
        padding-bottom: 1rem;
        max-width: 1800px;

        .top{
            width: 100%;
            
            // height: auto;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        .bottom{
            width: 100%;
            background-color: rgb(16, 15, 15);
            padding: 3rem 2.5rem;
            @include flex-column(4rem);
            border-radius: 1rem;
            justify-content: space-between;


            .text{
                @include flex-column(0.7rem);
                padding: 2rem 1rem;
                // padding-top: rem;
                
                h1{
                    font-weight: 300;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    // margin-top: 1rem;
                }

                p{
                    font-weight: 100;
                    font-size: 1.3rem;
                    line-height: 1.5;
                    opacity: 0.5;
                    // font-family: nav1;
                }
            }

        }

        .bottom>p{
                text-transform: uppercase;
                
            }
    }



     section.view5{
        
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem 1rem;
        justify-content: space-between;
        max-width: 1800px;
        

        .top,.bottom{
            
            display: flex;
            justify-content: space-between;
            
            padding: 0rem 1rem;
            gap: 0rem 1rem;
        }

        .top h1{
            font-size: 3rem;
            font-weight: 100;
        }

        // .bottom{
        // display: flex;
        // gap: 10rem;
        // }

        .bottom button{
            border: none;
            outline: none;
            background-color: transparent;
            // margin-left: 68rem;
            // color: white;
    
    }

    }


    section.view6{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        margin-top: 1rem;

        max-width: 1800px;

        .card:nth-child(1){
            width: 100%;
            background-image: url(./images/card1mkimg3.jpg);
            background-size: cover;
            aspect-ratio: 1/1;
            background-repeat: no-repeat;
            border-radius: 0.7rem;
            @include flex-column(0rem);
            justify-content: space-between;
            

            @include card-box;
        }
        

        .card:nth-child(2){
            width: 100%;
            background-image: url(./images/card2img1.jpg);
            background-size: cover;
            aspect-ratio: 1/1;
            background-repeat: no-repeat;
            border-radius: 0.7rem;
            @include flex-column(0rem);
            justify-content: space-between;

            @include card-box;
        }

        .card:nth-child(3){
            width: 100%;
            background-image: url(./images/card3img2.jpg);
            background-size: cover;
            aspect-ratio: 1/1;
            background-repeat: no-repeat;
            border-radius: 0.7rem;
            @include flex-column(0rem);
            justify-content: space-between;

            @include card-box;
        } 
    }

}


@media (min-width:600px){
    main{
        section.view1{
            flex-direction: row;
        }

        section.view2{
            flex-direction: row;
            justify-content: space-around;
            
            .top,.bottom{
                gap: 0rem 20rem;
            }
            
            
        }

        section.view3{
            flex-direction: row-reverse;
            .bottom{
                .text{
                    h1{
                        font-size: 3rem;
                    }
                }
                .para{
                    display: flex;
                    gap: 2rem;
                }
            }
        }

        section.view4{
            flex-direction: row;
            .bottom{
                .text{
                    h1{
                        font-size: 3rem;
                        // padding-top: 10rem;
                        // margin-top: 10rem;
                        // font-weight: 300;
                    }
                }
                .para{
                    display: flex;
                    gap: 2rem;
                }
            }
        }


        section.view5{
        flex-direction: row;
        
        

        .bottom button{
            color: white;
            margin-left: 68rem;
        }
    }

    section.view6{
        flex-direction: row;
        padding: 1rem 1rem;

        .card{
            width: 33%;
            aspect-ratio: 1/1;
        }
    }
    }

    // section.view4{
    //     flex-direction: row;

    //     .bottom button{
    //         color: white;
    //     }
    // }

   
    
}