*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.balls{
    display: flex;
    gap: 10px;
    border: 3px solid white;
}

.ball{
    height: 50px;
    width: 50px;
    transition: all 0.3s linear;
    border-radius: 50%;
}

.red{
    background-color: rgb(184, 16, 16);
}

.blue{
    background-color: rgb(9, 9, 161);
}

.green{
    background-color: rgb(8, 102, 8);
}

.balls:has(.blue){
    background-color: pink;
}