*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

#box{
    height: 100px;
    width: 100px;
    background-color: crimson;
}

button{
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;

}