*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
}

#outer{
    height: 500px;
    width: 500px;
    background-color: lightseagreen;
}

#inner1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: royalblue;
}

#inner2{
    height: 200px;
    width: 200px;
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: crimson;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
}

.elem{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 20px;
   background-color: gray;
   border-radius: 10px;margin-top: 10px;
}

button{
    background-color: royalblue;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    /* border: none; */
    border-radius: 10px;
}