*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.heading{
    color: cornsilk;
    background-color: rgb(3, 3, 22);
    font-size: 30px;
    text-align: center;
}

#hp1{
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
}