@font-face {
    font-family: apple;
    src: url(../images/sf-pro-display_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: grey;
    display: flex;
    /* to manage items in y-axis or vertically or column-wise */
    align-items: center;   
    /* to manage items in x-axis or row-wise or horizontally */
    justify-content: space-evenly;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    
}

#box3{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    
}

 #main{
    height: 100%;
    width: 100%;
    /* background-color: black;    */
} 

#nav{
    height: 50px;
    width: 100%;
    background-color: rgb(43, 42, 42);
    position: fixed; 
    top: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#nav h4{
    color: white;
    font-weight: 400;
    font-family: apple;
}

#center{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg); 
     background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
    padding: 70px;
    background-color: black;
}

#center h1{
    color: white;
    font-size: 60px;
    font-family: apple;
}

#center h5{
    color: white;
    font-size: 25px;
    font-weight: 300;
    font-family: apple;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#links button{
    background-color: royalblue;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    font-size: large;
    font-weight: 300;
}

