*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
}



/* Tailwind css - it's a utility first framework */

.h-10{
    height: 200px;
}

.h-20{
    height: 400px;
}

.h-30{
    height: 600px;
}

.w-10{
    width: 200px;
}

.w-20{
    width: 400px;
}

.w-30{
    width: 600px;
}

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-green{
    background-color: green;
}