*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
}



/* Tailwind css - it's a utility first framework */


.red{
    background-color: red;
}

.blue{
    background-color: blue;
}