*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    padding-top: 200px;
}

main{
    height: 400px;
    width: 100%;
    background-color: rgb(106, 91, 91);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    /* overflow: auto; */
      
}

.btns{
    background-color: beige;
    padding: 300px 10px 60px 10px; 
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    /* text-align: justify;   */
}

.btnsb{
    background-color: rgb(12, 12, 12);
    padding: 100px 8px 60px 8px; 
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    text-align: justify;
    color: white;
    position: absolute;
    left: 20px; 
}

