*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

h1{
    font-size: 80px;
    color: white;
    margin-left: 200px;
}

button{
    color: white;
    background-color: crimson;
    padding: 10px 20px;
    margin: 50px;
    border-radius: 5px;
    font-size: 20px;
}