*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card{
    height: 300px;
    width: 200px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h2{
    color: black;
    text-align: center;
    font-size: 20px;
} 

.card i{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg); 
    background: linear-gradient(to right bottom, red, rgb(132, 64, 132));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 50px;
    opacity: 0;
    transition: all cubic-bezier(.75,.98,.84,1.44) 0.3s;
}