*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}



.box{
    max-height: 400px;
    max-width: 300px;
    padding-bottom: 10px;
    padding-inline: 10px;
    color: whitesmoke;
    text-shadow: 0 0 0px rgb(18, 212, 18);
    display: flex; 
    flex-direction: column;
    /* gap: 5px; */
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 0 0px rgba(19, 224, 19, 0.499);
    

    background: linear-gradient( rgba(0, 0, 0, 0.952), black) padding-box, conic-gradient(from var(--rotate), rgba(0, 14, 0, 0.757), rgba(22, 220, 22, 0.686), rgba(0, 0, 0, 0.717)) border-box;

    margin: 10px;

    border: 0px transparent solid;

    animation: borderAnimate 3s;
    animation-iteration-count: infinite;

    animation-timing-function: linear;

    animation-play-state: paused;

    transition: all 0.3s linear;

    text-shadow: 0 0 0px rgb(19, 214, 19);
}

.box:hover{
    animation-play-state: running;
    border: 5px transparent solid;
    text-shadow: 0 0 30px rgb(18, 212, 18) ;
    color: rgb(19, 214, 19);
    text-shadow: 0 0 10px rgb(19, 214, 19);
    box-shadow: 0 0 30px rgba(19, 224, 19, 0.499);
}

  
img{
  height: 100%;
    width: 100%;
    position: relative;
    bottom: 70px
    
    
}

h1{
   position: relative;
   bottom: 250px;
   left: 10px;
}

P{
    position: relative;
   bottom: 250px;
   left: 10px;
}