@import "button";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

// mixin is used to avoid code repetition
// @mixin flexcenter{
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// main{
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     @include flexcenter();

//     section{
//     height: 50%;
//     width: 50%;
//     background-color: rgb(231, 178, 138);
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//      @include flexcenter();

//     h1{
//     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }
// }
// }


// @mixin button-style($bg-color){
//     padding: 20px 30px;
//     background-color: $bg-color;
//     color: white;
//     border: none;
//     border-radius: 10px;
//     outline: none;
//     cursor: pointer;
//     font-size: 18px;
// }

// .blue{
//     @include button-style(blue);
//     margin: 50px;
// }

// .red{
//     @include button-style(red);
// }



.blue{
    @include button-style(blue,white,18px);
    margin: 50px
}

.red{
    @include button-style(red,white,20px);
}