*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    /* height: 350px; */
    width: 280px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px; 

}

.card h3{
    font-size: 28px;
    white-space: nowrap; 
}

.card h4{
    font-size: 20px;
    margin-top: 10px;
    color: crimson;
    margin-bottom: 10px;
}

.card p{
    font-size: 15px;
}