*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#car1{
    height: 300px;
    width: 200px;
    background-color: rgb(230, 4, 4);
}

#car2{
   position: absolute;
    left: 50%;
    height: 370px;
    width: 240px;
    background-color: green;
}

#car3 {
    height: 400px;
    width: 300px;
    background-color: blue;
}

#box{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: rgb(171, 233, 24);
}

#small{
    position: absolute;
    left: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(230, 9, 211);
}

#homepage{
    height: 3000px;
    width: 100%;
    background-color: rgb(118, 119, 118);
}

#side{
    position: fixed;
    height: 100px;
    width: 70px;
    background-color: crimson;
    right: 0;
    top: 50%;
}

#parent {
    width: 100%;
    background-color: darkviolet;
}

#child {
    width: 100%;
    height: 2000px;
    background-color: chartreuse;
}

#child2 {
    width: 100%;
    height: 2000px;
    background-color: rgb(61, 214, 163);
}

#sticky{
    position: sticky;
    top: 0;
    height: 200px;
    width: 300px;
    background-color: black;
}